*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;
}

body{

background: linear-gradient(135deg,
#140021,
#2e004f,
#5b1a8f,
#7b2cbf,
#9d4edd);
height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.container{

text-align:center;

z-index:10;

}

h1{

font-size:45px;

margin-bottom:20px;

}

.subtitle{

font-size:20px;

opacity:.8;

margin-bottom:40px;

}

.envelope{

font-size:90px;

cursor:pointer;

transition:.4s;

animation:float 2s infinite ease-in-out;

}

.envelope:hover{

transform:scale(1.2);

}

.hint{

margin-top:20px;

opacity:.7;

}
#letter{
display:none;
position:absolute;
width:80%;
max-width:700px;
background:#FAF7F2;
color:#333;
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:0 0 40px rgba(0,0,0,.35);
}
#letter button{

margin-top:30px;

padding:15px 35px;

border:none;

border-radius:30px;

background:#7b2cbf;
color:white;

font-size:18px;

cursor:pointer;

}

@keyframes float{

0%{transform:translateY(0);}

50%{transform:translateY(-15px);}

100%{transform:translateY(0);}

}
